<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>AD992520-BE54-444E-8168-A65B4FFDDCC1.playgroundpage</string>
		<string>E184B5E2-EA69-4513-8DB5-C016D51EA0AE.playgroundpage</string>
		<string>ED6F227C-5147-47A5-8E28-5A60BFF033C6.playgroundpage</string>
		<string>5EA38E36-D47D-48B5-8CAE-CB4BE627FEE9.playgroundpage</string>
		<string>4476784C-A7C7-4648-921C-5E27064C9C61.playgroundpage</string>
		<string>16F21B68-5FE2-458C-BBFC-4C6F5E1BE044.playgroundpage</string>
	</array>
</dict>
</plist>
