<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9jkFleLNocF7rB-hKgC6Ki7LSYvIKX-0</string>
	<key>GCM_SENDER_ID</key>
	<string>781731753938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.edu.rmit.s3974892.week10</string>
	<key>PROJECT_ID</key>
	<string>ios-week-10</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-week-10.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781731753938:ios:ce0773dc3557ee6ed3a20b</string>
</dict>
</plist>